/* added */
.body {
  background-image: 
  url("https://cdn.pixabay.com/photo/2015/06/22/23/21/filmklappe-818198_960_720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  background-position: center;
}
/* added */
.App {
  margin-top: 295px;
}
/* part1 */
.FormFilm {
  width: 400px;
  margin: 0 auto;
  text-align: left;
 }
 /* part1 */
 .FormFilm h1 {
  text-align: center;
 }
 /* part1 */
 .FormFilm .form-data {
  display: flex;
  justify-content: center;
  margin : 5px 0;
 }
/* added */
 #comment {
   width: 100%;
 }
 /* part1 */
 .FormFilm .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
 }
 /* part1 */
 .FormFilm .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }


